/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid aliceblue;
}

thead th:nth-child(1) {
  width: 30%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* graphics and colors */

thead, tfoot {
  background-color: rgb(147, 48, 228);
  color: white;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(103, 21, 255, 0.1), rgba(103, 21, 255, 0.6));
  border: 1px solid aliceblue;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: aliceblue;
}

table {
  background-color: white;
}

/* caption */

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: gray;
  text-align: right;
  letter-spacing: 1px;
}